
h2{
  text-align: center;
  padding-bottom: 1em;
}
h3{
  font-style: italic;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}

hr.ligne{
  margin: 2em -1em;
  background-color: rgb(141, 145, 142);
}
button{
  margin: 3em;
  font-size: 4em;
}
input{
  height: 1.9em;
}
p{
  font-size: 3.3em;
  font-style: italic;
}
.msg-ok{
  color: green;
}
}
.repondre > input:nth-child(3){
  margin: 1em;
}
#captcha_reponse{
  height: 2em;
  width: 45%;
  overflow: hidden;
}
.msg-error{
  color: red;
  margin-left: 1em;
}
.verif{
  text-align: center;
}

.presentation-row{
  justify-content: center;
}
.listquest,.listrep{
  background-color: rgba(141, 145, 142,0.5);
}

.listquest{
  text-align : left!important;
}
.listrep{
  font-style: italic;
  font-weight: 600;
  padding-right: 0;
}
.presentation-text{
  text-align: center;
}
.old{
  justify-content: center;
}
